*{
    padding: 0;
    margin: 0;
}
.wrapper{
    background: url(greenhouse.jpeg) no-repeat;
    background-size: cover;
    z-index: 1;

}
.navbar{
    height: 80px;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}
.chart1{
    height: 200px;
    width: 500px;
    z-index: -1;

}
.chart2{
    height: 200px;
    width: 500px;
    z-index: -1;

}
.chart3{

    top: 100px;
    right: 500px;
    z-index: -1;
}
.chart4{
    top: 100px;
    right: 500px;
    z-index: -1;
}
.text{
    left: 470px;
    bottom: 530px;
    margin-top: 25px;
    position: relative;
    font-size: 20px;
    border: 2px solid #0074cd;
    max-width: 250px;
}